@font-face {
    font-family: 'Druk Wide Bold';
    src: url('/fonts/big.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Graphik Trial';
    src: url('/fonts/small.otf') format('opentype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Trial';
    src: url('./fonts/smallitalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Right Grotesk';
    src: url('/fonts/mainlogo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Product Sans';
    src: url('/fonts/google.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }