body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.container-wrapper {
  top: 0px;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.layers-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.layer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.layer:nth-child(1) {
  background-color: #007bff;
}

.layer:nth-child(2) {
  background-color: #ff3b3b;
}

.layer:nth-child(3) {
  background-color: #28a745;
}

/* Mask Effect */
.mask {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #1a1a1a;
  background-image: url('./loading.png');
  font-family: "Druk Wide Bold";
  font-size: 70px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.mask-text {
  color: white;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* first page */

.firstpage{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}




@media (max-width: 768px) {
  body {
    width: 100vw;
    height: auto;
    overflow: auto;
  }
  .videofirst {
    width: 100vw;
    height: auto;
    overflow: auto;
  }
  .firstpage{
    width: auto;
    justify-content: center;
    height: auto;
    overflow: auto;
    position: relative;
  }
}
