



.feedbackpage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    text-align: center;
    gap: 30px;
}

.hmm{
    align-items: center;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.unsubscribepage{
    background-color: #f5f5f5;
}

.mailone {
    font-family: "Graphik Trial";
    font-size: 28px;
    font-weight: 400;
    color: #1a1a1a;
    text-align: center;
}

.mailtwoextra{
    display: flex;
    border-radius: 16px;
    align-items: center;
    text-align: center;
    background-color: #1a1a1a;
    color: #f5f5f5;
    font-size: 70px;
    font-family: "Druk Wide Bold";
    height: 150px;
    width: 1000px;
}

.mailbutton{
    margin-top: 50px;
    padding: 0px;
    border-radius: 16px;
    text-align: center;
    background-color: #f5f5f5;
    border: #1a1a1a solid;
    color: #1a1a1a;
    font-size: 28px;
    font-family: "Druk Wide Bold";
    height: 50px;
    width: 200px;
}


.mailbutton:hover{
    background-color: #1a1a1a;
    color: #f5f5f5;
}

@media (max-width: 768px){
    /* .mailpage{
        padding: 50px 0px;
        height: auto;
    } */
    .mailone, .mailthree, .mailbutton{
        font-size: 15px;
    }
    .mailbutton{
        font-size: 12px;
        border-radius: 8px;
        height: 25px;
        width: 120px;
    }
    .mailtwo{
        font-size: 25px;
        height: 70px;
        width: 80vw;
    }
    
}