.thirdpage {
    background-color: #f5f5f5;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.testone {
    border-radius: 16px;
    width: 532px;
    height: 176px;
}

.testtwo {
    width: 1089px;
    height: 200px;
    border-radius: 16px; /* Border radius for rounded corners */
    background-color: #1a1a1a;
    text-align: center; /* Center text inside the input */
    padding: 10px;
    color: #f5f5f5;
    font-family: "Druk Wide Bold";
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.8px;
}

.colflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rowflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bhumika{
    background-color: #DA3FCC;
}

.harshit{
    background-color: #427DFF;
}

.kunal{
    background-color: #FF5E5B;
}

.ruhi{
    background-color: #FFC83D;
}


@media (max-width: 768px) {
    .thirdpage {
        height: auto;
    }
    .testtwo {
        font-size: 10px;
        width: 75vw;
        height: auto;
        border-radius: 5px;
    }
    .testone {
        border-radius: 5px;
        width: 75vw;
        height: auto;
    }
}


.testpic{
    width: 50px;
    height: 50px;
}

.testtext{
    height: 35px;
    width: 570px; 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /* 20 px gap */
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
}

.mainthingy{
    gap: 40px;
}

.textbox{
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.testbox{
    gap: 40px;
    height: 400px;
    width: 1000px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4.5px 4px rgba(0, 0, 0, 0.25) inset;
    background-color: #f5f5f5;
}

.testquestion{
    text-align: center;
    width: 1000px;
    height: 100px;
    border-radius: 16px;
    font-family: "Druk Wide Bold";
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.8px;
    background-color: #1a1a1a;
    color: #f5f5f5;
}

.testsubmit{
    border-radius: 16px;
    text-align: center;
    font-family: "Druk Wide Bold";
    font-size: 24.72px;
    font-weight: 700;
    letter-spacing: -0.8px;
    background-color: #f5f5f5;
    border: #1a1a1a solid;
    color: #1a1a1a;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    height: 50px;
}

.testsubmit:hover{
    background-color: #1a1a1a;
    color: #f5f5f5;
}
