.tryingcontainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.afterone{
  font-family: "Druk Wide Bold";
  font-size: 20px;
}

.mode-button{
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.stepone{
  height: 522.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.color-picker, .name-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.next-btn, .continue-btn {
  padding: 10px 20px;
  border: none;
  background-color: #000;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}

.next-btn:hover, .continue-btn:hover {
  background-color: #333;
}

.rejection-message {
  color: red;
  font-size: 14px;
  font-weight: bold;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content; /* Ensure it wraps around the image */
  margin: auto; /* Center the container */
}

.main-pic {
  display: block;
  width: 80%; /* Adjust as needed */
}

.overlay-svg {
  z-index: 1;
  position: absolute;
  top: 46%;
  left: 46.7%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 15%;
  pointer-events: none; /* Prevents interfering with clicks */
}

.heading{
  align-items: center;
  display: flex;
  width: 100vw;
  background: #f5f5f5;
  margin: 0px;
  text-align: center;
  font-family: "Druk Wide Bold";
  font-size: 45px;
  padding: 20px 0px;
}

.color-message {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 20px auto;
  max-width: 300px;
  transition: all 0.3s ease;
}

.chat-container-intro{
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Graphik Trial";
  font-size: 15.625px;
}

.step2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.intro-input{
  margin-left: 10px;
  width: 125px;
  border-radius: 5px;
  text-align: center;
}
