.fourthpage{
    background-color: #1a1a1a;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fourthone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    gap: 50px;
}

.fourthrowflex{
    display: flex;
    flex-direction: row;
    gap: 64px;
    justify-content: space-between;
}

.nahneedlogo{
    width: 800px;
    height: 122.98px;
}

.bottom{
    display: flex;
    flex-direction: row;
    gap: 0px;
    width: 100vw;
}

.fourthbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 25vw;
    height: 60px;
}

.fourthtwo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    margin-top: auto;
}

.blurtlogo{
    width: 224px;
}

.fourthicon{
    font-size: 40px;
}

@media (max-width: 768px) {
    .fourthicon{
        font-size: 25px;
    }
    .fourthone{
        margin-top: 50px;
        gap: 25px;
    }
    .fourthpage{
        height: auto;
        gap: 100px;
    }

    .nahneedlogo{
        width: 80vw;
        height: auto;
    }

    .fourthrowflex{
        gap: 20px;
    }

    .blurtlogo{
        width: 20vw;
    }
    .fourthbox{
        width: 100vw;
        height: 40px;
        gap: 10px;
    }
}