
  
body{
    margin: 0px;
}

.navbar {
    position: absolute;
    z-index: 1000;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    overflow: hidden;
}

.navbar:hover,
.navbar.expanded {
    width: 410px;
    background-color: #f5f5f5;
}

.navbar .logo {
    height: 30px;
}
.mylogo{
    transition: transform 0.5s ease;
    box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.24) inset;
    cursor: pointer;
    display: flex;
    width: 100px;
    height: 50px;
    border-radius: 40px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.navbar .additional-links {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.5s ease;
    opacity: 0;
}
.filler{
    width: 60px;
}

.navbar:hover .additional-links,
.navbar.expanded .additional-links {
    display: flex;
    gap: 30px;
    opacity: 1;
}

.navbar .additional-links a {
    color: #062C30;
    font-family: "Graphik Trial";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    font-size: 1rem;
}

.navbar:hover .mylogo,
.navbar.expanded .mylogo {
    transform: translateX(-155px);
}

@media (max-width: 600px) {
    .navbar {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 0;
    }

    .navbar .logo {
        transform: none;
    }

    .navbar.expanded {
        height: auto;
    }

    .navbar .additional-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: static;
        transform: none;
        opacity: 1;
    }

    .navbar.expanded .additional-links {
        display: flex;
    }
}